.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: black;
    text-align: left;
    width: 100%;
    max-width: 414px;
    margin: 0 auto;
    position: relative;
  }
  
  .header {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 375px;
  }
  
  .brandContainer {
    display: flex;
    flex-direction: column;
  }
  
  .brand {
    font-family: "Oswald", sans-serif;
    font-size: 54px;
    font-weight: 300;
    color: black;
    margin-bottom: 0;
  }
  
  .model {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: black;
    margin-top: -20px;
  }
  
  .logo {
    width: 60px;
    height: auto;
  }
  
  .carModelImageWrapper {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .carModelImage {
    width: 100%;
    max-width: 340px;
    height: auto;
    border-radius: 10px;
  }
  
  .pageTitle {
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin: 15px 0 5px;
    text-align: center;
  }
  
  .infoSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 15px 80px;
    margin-top: 10px;
    width: 100%;
  }
  
  .infoBox {
    flex: 1 1 100%;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 18px 16px;
    background-color: #fefefe;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.07);
    font-family: "Oswald", sans-serif;
    color: #000;
  }
  
  .fullWidthBox {
    width: 100%;
  }
  
  .sectionTitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 14px;
    border-bottom: 1px solid #0000005d;
    padding-bottom: 6px;
  }
  
  .infoItem {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .chargeList {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .chargeList li {
    margin-bottom: 4px;
    font-size: 15px;
  }
  
  .bottomSection {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10; 
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  .horizontalLine {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 0;
    padding: 0;
  }
  
  .bottomIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }
  
  .bottomIcon {
    width: 40px;
    height: auto;
  }
  