/* Tar bort all margin och padding på hela sidan */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; /* Förhindrar horisontell scroll */
}

